.body{
    margin: 32px 0px 32px 0px;
    padding: 32px;
    min-height: 10vh;
    background-image: linear-gradient(to bottom right, #FBED96, #ABECD6);
}

.detail{
    color: #000000;
    text-align: center;
    font-family: Nexa Light;
    font-style: normal;
    font-weight: light;
}

.icon{
    width: auto !important;
    height: 40px !important;
    margin-bottom: 8px;
    color: #6100FF;
}

.navButton{
    margin-right: 8px;
    margin-left: 8px;
}

.title{
    font-family: Nexa Bold;
    font-style: normal;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .body{
        margin: 0;
        padding: 8px 0px 8px 0px;
        display: flex;
        justify-content: center;
    }
  }