.cardContainer{
    display: flex;
    flex: wrap; 
}

.noData{
    color: white;
    text-align: center;
}

.noDataBlack{
    color: black;
    text-align: center;
}

.title{
    color: #000000;
    font-family: Hanson;
    font-style: normal;
    font-weight: bold;
    margin: 8px 0px 8px 0px;
}