.link{
    color: #6100FF; 
    width: min-content;
    padding: 0px;
    padding-top: 8px;
    padding-left: 16px;
    font-family: Nexa Light;
    font-style: normal;
    font-weight: light;
}

.link:hover, .link:active{
    color: #210055; 
}

.title{
    padding: 0;
    margin: 8px 0px 8px 0px;
    font-family: Nexa Bold;
    font-style: normal;
    font-weight: bold;
}

.subtitle{
    padding: 0;
    margin:0;
    font-family: Nexa Light;
    font-style: normal;
    font-weight: light;
}

.date{
    padding: 0;
    margin:0;
    font-family: Nexa Bold;
    font-style: normal;
    font-weight: bold;
}

.card{
    margin: 8px;
    min-width: 18rem;
    width: 30%; 
    flex: 1 0 30%; 
    background-color: #E5E5E5;
    flex-grow: unset;
}
