.label{
    color:white;
}
.data{
    color: white;
}

.flexContainer{
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, auto));
    grid-auto-rows: minmax(30px, max-content);
    align-items: center;
}