.label{
    color:#6100FF;
    font-weight: bold;
}

.data{
    color: white;
}

.flexContainer{
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, auto));
    grid-auto-rows: minmax(50px, max-content);
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .flexContainer{
        grid-template-columns: none;
    }
  }