@font-face {
    font-family: "Hanson";
    src: url("/fonts/Hanson/Hanson-Bold.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: "Nexa Bold";
    src: url("/fonts/Nexa/Nexa-Bold.otf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Nexa Light";
    src: url("/fonts/Nexa/Nexa-Light.otf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/SpaceGrotesk/SpaceGrotesk-Light.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

.btn-primary{
    background-color: #6100FF !important;
    border-color: #6100FF !important;
    border-radius: 10;
    font-family: Nexa Bold;
    font-style: normal;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: #340286;
    border-color: #340286;
}

.btn-primary.active{
    background-color: #340286 !important;
    border-color: #340286 !important;
}

/* CSS for Calendar */

.fc{
    color:white;
    font-family: Nexa Light;
    font-style: normal;
    font-weight: light;
}

.weeklyCalendar>* .fc-daygrid-day-frame{
    justify-content: center;
    align-items: center;
    display: flex;
}

.fc-event-past{
    background-color: #222222;
    padding: 8px;
}

.fc-event-time, .fc-event-title {
    padding: 0 4px;
}

.fc-event-title {
    white-space: pre-line;
}

.fc-day-today{
    background-color: #fff4f400 !important;
}

.fc-event-today{
    background-color: #222222;
    padding: 8px;
}

.fc-col-header-cell.fc-day-today{
    border-radius: 10px;
    background-color: #6100FF !important;
    color: white;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
}

.fc-daygrid-body{
    padding-top: 8px;
}

@media only screen and (max-width: 600px) {
    .fc-toolbar-chunk{
        justify-content: flex-end;
        align-items: flex-end;
        display: flex;
    }
    .fc{
        font-size: small;
    }
}